<div class="large-12 columns">
    <div>    
        <input type="text" ng-model="buscador" />
        <span class="glyphicon glyphicon-search"></span>
    </div>
</div>
<br>
<div class="table-responsive" ng-controller="pacientesCtrl">
    <div class="col-md-12 col-sm-12 margin-bottom-30">
        <div class="panel panel-primary">            
            <div class="panel-heading">PACIENTES</div>
            <div class="panel-body">

                <table class="table table-striped" data-pagination="true" ng-model="filteredTodos">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="paciente in filteredTodos" ng-class="{true:'success', false:'danger'}[paciente.activo]" >
                            <td>{{paciente.ID}}</td>
                            <td>{{paciente.NOMBRE}}</td>
                            <td>{{paciente.APELLIDOS}}</td>
                            <td>
                                <a href="#/detallePaciente/:{{paciente.ID}}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td> <!--ng-click="lookFor(paciente.ID)"-->
                            <td>
                                <a ng-click="setPacienteToDelete(paciente.ID)" href="" class="btn btn-default" data-toggle="modal" data-target="#confirmModal">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </td>            
                        </tr>
                    </tbody>
                </table>
                
                <ul class="pagination pull-right">
                    <li class="{{$scope.activePrior}}"><a href="" ng-click="getPriorPage()">&laquo; Anterior</a></li>
<!--                    <li class="active"><a href="">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="" ng-click="getPage(2)">2 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">5 <span class="sr-only">(current)</span></a></li>-->
                    <li class="{{$scope.activeNext}}"><a href="" ng-click="getNextPage()">Siguiente &raquo;</a></li>
                </ul> 
                <!--<pagination ng-model="currentPage" total-items="numPages()" max-size="maxSize" boundary-links="true"></pagination>-->
<!--                <div data-pagination="" data-num-pages="numPages()" 
      data-current-page="currentPage" data-max-size="maxSize"  
      data-boundary-links="true"></div>-->
            </div>
        </div>
    </div>  
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="pacientesCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Cancelar</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">¿Seguro que desea eliminar el paciente?</h4>
            </div>
            <div class="modal-footer">
                <a href="" ng-click="deletePaciente()" class="btn btn-primary" data-dismiss="modal">Si</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>